<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student List</title>
  <style>
    * {
      font-family: "Fira Mono", "Courier New", Courier, monospace;
    }

    .center {
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .flex {
      display: flex;
    }

    table.students {
      width: 60%;
      min-width: 700px;
    }

    table {
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid;
    }

    th,
    td {
      padding: 0.25rem;
    }

    .bottom-margin {
      margin-bottom: 1rem;
    }

    button.action {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    button.action:hover {
      color: blue;
    }

    form {
      text-align: center;
      border: 1px solid black;
      padding-bottom: 2rem;
    }
  </style>
  <script src="https://kit.fontawesome.com/7e157ba8f4.js" crossorigin="anonymous"></script>
  <script>

    function formatUrl(baseUrl, id) {
      return baseUrl.replace("{id}", id);
    }

    function getData() {
      const form = document.getElementById('create_student');
      const data_student = new FormData(form)
      const student = Object.fromEntries(data_student)
      student.final_mark = parseFloat(student.final_mark)
      if (student.id) {
        student.id = parseInt(student.id)
      } else {
        delete student.id
      }
      console.log(student)
      if (!student.first_name || !student.last_name || !student.hometown || !student.dob){
        alert("please enter all field!!!")
        return;
      }
      return student;
    }

    function addStudent(event) {
      event.preventDefault();
      const studentID = document.getElementById('id').value;
      if (studentID) {
        alert("studentID already exist, edit only!!!")
        return;
      }
      const url = "/api/students"
      fetch(url, {
        method: "POST", headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(getData())
      })
        .then((response) => response.json())
        .catch(() => ({ data: { message: "Unable to reach URL!" } }))
        .then((data) => {
          const { success, message } = data;
          console.log(data)
          if (success) {
            alert(`Add student successfully!`);
            window.location.reload();
          } else {
            alert(`Failed to add, reason: ${data.data.reason}.`);
          }
        })

    }

    function editStudent(event) {
      event.preventDefault();
      const student = getData()
      const url = `/api/students/${student.id}`
      fetch(url, {
        method: "PUT", headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(student)
      })
        .then((response) => response.json())
        .catch(() => ({ data: { message: "Unable to reach URL!" } }))
        .then((data) => {
          const { success, message } = data;
          console.log(data)
          if (success) {
            alert(`Update student successfully!`);
            window.location.reload();
          } else {
            alert(`Failed to update student ${student.id}, reason: ${data.data.reason}.`);
          }
        })
    }

    function getId(element) {
      return element.dataset.id;
    }

    function onUpdate(event) {
      const student = event.currentTarget.dataset;
      console.log(student)
      document.getElementById('id').value = student.id;
      document.getElementById('firstName').value = student.firstName;
      document.getElementById('lastName').value = student.lastName;
      document.getElementById('dob').value = student.dob;
      document.getElementById('hometown').value = student.hometown;
      document.getElementById('finalMark').value = student.finalMark;
    }

    function onDelete(e) {
      const id = getId(e.currentTarget);
      const confirmation = confirm(
        `Delete student with ID ${id}?`
      );
      if (!confirmation) {
        return;
      }
      const url = formatUrl("{{ delete_student_link }}", id);
      fetch(url, { method: "DELETE" })
        .then((response) => response.json())
        .catch(() => ({ data: { message: "Unable to reach URL!" } }))
        .then((data) => {
          const { success, message } = data;
          if (success) {
            alert(`Deleted student with ID ${id}!`);
            window.location.reload();
          } else {
            alert(`Failed to delete student ${id}, reason: ${message}.`);
          }
        })
    }
  </script>
</head>

<body>
  <form class="form" id="create_student" onsubmit="addStudent(event)">
    <h1 class="title center">Student Form</h1>
    <label>ID:</label>
    <input readonly type="text" id="id" name="id">
    <label>First name:</label>
    <input type="text" id="firstName" name="first_name">
    <label>Last name:</label>
    <input type="text" id="lastName" name="last_name">
    <label>Date of Birth:</label>
    <input type="date" id="dob" name="dob"><br>
    <br>
    <label>Home Town:</label>
    <input type="text" id="hometown" name="hometown">
    <label>Mark:</label>
    <input type="text" id="finalMark" name="final_mark"><br>
    <br>
    <button onclick="addStudent(event)">Add</button>
    <button onclick="editStudent(event)">Edit</button>
  </form>

  <h1 class="title center">Student List</h1>

  <div class="flex center">
    <table class="students">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Hometown</th>
          <th>Final mark</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr class="student-info">
          <td>{{ loop.index }}</td>
          <td>{{ student.id }}</td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.dob }}</td>
          <td>{{ student.hometown }}</td>
          <td>{{ student.final_mark }}</td>
          <td>
            <button class="action" data-id="{{ student.id }}" data-first-name="{{ student.first_name }}"
              data-first-name="{{ student.first_name }}" data-last-name="{{ student.last_name }}"
              data-dob="{{ student.dob }}" data-hometown="{{ student.hometown }}"
              data-final-mark="{{ student.final_mark }}" onclick="onUpdate(event)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="action" data-id="{{ student.id }}" onclick="onDelete(event)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
<script>

</script>

</html>